* {
    box-sizing: border-box;
    border-color: steelblue;
}

/* STYLE */

body {
    font-family: "Open Sans", Arial, sans-serif;
    background: #333333;
    color: white;
}

h1, h2, h3 {
    color: #35E0B1;
}

input {
    background: teal;
    color: white;
}

input:focus {
    color: whitesmoke;
    background: salmon;
}

a:visited {
    color: red;
}

a:link {
    color: white;
}

a:active {
    color: blueviolet;
}

ol {
    list-style-type: upper-roman;
}

/* LAYOUT */

#logodiv {
    position: relative;
    height: 150px;
}

.logoimg {
    height: 100%;
}

#logotitle {
    position: absolute;
    display: inline;
}